.modal {
  position: fixed;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  background: white;
  padding: 25px;
  box-shadow: grey 1px 2px 10px;
}

.modal .close-modal {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  background: black;
  color: white;
  padding: 3px 8px;
  border-radius: 50px;
  line-height: 20px;
}
